@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

p,
blockquote {
  font-size: 0.9em;
  line-height: 1.6em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  padding: 0.8em 1.2em;
}

.logo {
  width: 20%;
  height: 20%;
}

.logo2 {
  width: 10%;
  height: 10%;
}

.hide-mobile {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
}

.menu {
  width: 25px;
  margin-top: 45%;
}

.try-con {
  text-align: center;
  list-style-type: none;
}

.container-pf {
  padding-top: 1em;
  padding-bottom: 1em;
  left: 5%;
  position: relative;
  width: 90%;
  text-align: center;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  margin: 1em auto 1em auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
}

.container-pf:hover .overlay {
  opacity: 1;
}

.text {
  color: rgb(255, 255, 255);
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.allCon {
  background-color: #ff4242;
}

.allCon:before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #ff4242;
  position: absolute;
  top: -39px;
  right: 0;
  z-index: -2;
}

.allCon:after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: #fff;
  top: -80px;
  position: absolute;
  right: 0;
  border-radius: 50%;
  z-index: -1;
}

.allConr ul {
  transform: skewY(2deg);
}

.allCon ul li p {
  padding: 0 0.5em 1em;
}
